.page {
  width: 100vw;
  height: 100%;
  padding: 0 144px;
  background-color: white;
  padding-top: 10px;
}

.nameContainer {
  width: 100%;
  height: 180px;
  background-color: rgb(143, 143, 36);
  border: solid rgb(182, 157, 19) 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 233, 148);
  border-radius: 15px;
  width: 98%;
  height: 95%;
  font-size: 70px;
  color: black;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
  background-color: rgb(191, 240, 146);
  border-radius: 20px;

}

@media (max-width: 768px) {
  .page{
    padding: 0 80px;
  }

  .name {
    font-size: 50px;
    text-align: center;
  }

  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .page {
    padding: 0 50px;
  }

  .menu {
    grid-template-columns: 1fr;
  }
}